<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.bo.ucb.express_app" >
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_express_app_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Express_App"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Welcome.WelcomeAdapter"
            android:label="@string/title_welcome"
            android:exported="false"
            android:launchMode="singleInstance"/>
        <activity android:name=".Login.LoginAdapter"
            android:label="@string/title_login"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Menu.Menu"
            android:label="@string/title_menu"
            android:exported="false" />
        <activity
            android:name=".Contactos.ContactosAdapter"
            android:label="@string/title_contactos"
            android:exported="false" />
        <activity
            android:name=".Contactos.ListaDeContactos"
            android:label="@string/title_contactos_lista"
            android:exported="false" />
        <activity
            android:name=".Horario.HorarioAdapter"
            android:label="@string/title_horario"
            android:exported="false" />
        <activity android:name=".Alarma.AlarmaAdapter"
            android:label="@string/title_alarma"
            android:exported="false" />
        <activity
            android:name=".Camara.CamaraAdapter"
            android:label="@string/title_camara"
            android:exported="false" />
        <activity
            android:name=".Galeria.GaleriaAdapter"
            android:label="@string/title_galeria"
            android:exported="false" />
        <activity
            android:name=".Galeria.ImagenCompleta"
            android:label="@string/title_galeria_completa"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>